<div class="inicio">

  <h1>Plataforma de Gestión de Solicitudes Académicas</h1>

  <p class="descripcion">
    Sistema web para registrar y consultar solicitudes académicas
    de los estudiantes.
  </p>

  <nav class="menu">

    <a routerLink="/">
      Inicio
    </a>

    <a routerLink="/solicitudes">
      Ver solicitudes
    </a>

    <a routerLink="/solicitudes/nueva">
      Nueva solicitud
    </a>

    <a routerLink="/externas">
      Datos externos
    </a>

  </nav>

  <section class="contenido">

    <h2>¿Qué puedes hacer?</h2>

    <div class="tarjetas">

      <div class="tarjeta">
        <h3> Consultar solicitudes</h3>
        <p>
          Visualiza las solicitudes académicas registradas
          en la plataforma.
        </p>
      </div>

      <div class="tarjeta">
        <h3> Registrar solicitud</h3>
        <p>
          Completa un formulario con validaciones para
          registrar una nueva solicitud.
        </p>
      </div>

      <div class="tarjeta">
        <h3> Consultar API</h3>
        <p>
          Visualiza información obtenida desde un servicio
          REST externo mediante HttpClient.
        </p>
      </div>

    </div>

  </section>

</div>